<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list [inset]="true">
      <ion-item [button]="true" routerLink="/events">
        <ion-icon
          color="danger"
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Eventos</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon
          color="tertiary"
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Crear</ion-label>
        <ion-note slot="end">15</ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon
          color="success"
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Check-in</ion-label>
        <ion-note slot="end">3</ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon
          color="warning"
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Exportar</ion-label>
        <ion-note slot="end">8</ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon
          color="warning"
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Analisis</ion-label>
        <ion-note slot="end">8</ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon
          color="warning"
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Escanear</ion-label>
        <ion-note slot="end">8</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Blank </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <strong>Ready to create an app?</strong>
      <p>
        Start with Ionic
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components"
          >UI Components</a
        >
      </p>
    </div>
  </ion-content>
</div>
