<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú - QR-Agenda</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list [inset]="true">
      <ion-item
        [button]="true"
        [routerLink]="['/events']"
        routerDirection="forward"
      >
        <ion-icon
          color="danger"
          slot="start"
          name="arrow-forward"
          size="large"
        ></ion-icon>
        <ion-label>Eventos</ion-label>
      </ion-item>
      <ion-item
        [button]="true"
        [routerLink]="[`/create/${typeUser}`]"
        routerDirection="forward"
      >
        <ion-icon
          color="tertiary"
          slot="start"
          name="arrow-forward"
          size="large"
        ></ion-icon>
        <ion-label>Crear</ion-label>
      </ion-item>
      <ion-item
        [button]="true"
        [routerLink]="[`/checkIn/${typeUser}`]"
        routerDirection="forward"
      >
        <ion-icon
          color="success"
          slot="start"
          name="arrow-forward"
          size="large"
        ></ion-icon>
        <ion-label>Check-in</ion-label>
      </ion-item>
      <ion-item
        [button]="true"
        [routerLink]="[`/export/${typeUser}`]"
        routerDirection="forward"
      >
        <ion-icon
          color="warning"
          slot="start"
          name="arrow-forward"
          size="large"
        ></ion-icon>
        <ion-label>Exportar</ion-label>
      </ion-item>
      <ion-item
        [button]="true"
        [routerLink]="[`/analitycs/${typeUser}`]"
        routerDirection="forward"
      >
        <ion-icon
          color="warning"
          slot="start"
          name="arrow-forward"
          size="large"
        ></ion-icon>
        <ion-label>Analisis</ion-label>
      </ion-item>
      <ion-item
        [button]="true"
        [routerLink]="[`/scan/${typeUser}`]"
        routerDirection="forward"
      >
        <ion-icon
          color="warning"
          slot="start"
          name="arrow-forward"
          size="large"
        ></ion-icon>
        <ion-label>Escanear</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> QR-Agenda </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding event-list">
    <div id="container">
      <h3>Mis Eventos</h3>
    </div>

    <ion-grid
      class="list-events-p"
      *ngFor="let list of listEvents; let il = index"
      (click)="eventsClic()"
    >
      <ion-row>
        <ion-col size="11">
          <ion-row class="name-event">
            <ion-col> {{list.nombre_evento }} </ion-col>
          </ion-row>

          <ion-row class="date-event">
            <ion-col>
              {{list.fecha_evento | date: 'yyyy-MM-dd , HH:mm'}}
            </ion-col>
          </ion-row>

          <ion-row class="avatar-stack">
            <ion-col>
              <img
                *ngFor="let participante of list.asistentes; let i = index"
                [src]="participante.images"
                class="avatar"
              />
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col style="margin-top: 25%; color: rgb(180, 180, 180)" size="1">
          <ion-icon size="large" name="color-wand"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="margin-top: 15%">
      <ion-row>
        <ion-col>
          <ion-button
            (click)="goCreate()"
            *ngIf="this.typeUser == 'admin'"
            color="secondary"
            style="--background-color: #339de7"
            expand="block"
            size="small"
          >
            <ion-icon slot="start" name="add"></ion-icon>
            Nuevo evento
          </ion-button>

          <ion-button
            (click)="goCheckIn()"
            color="light"
            style="--background-color: #339de7; margin-top: 5%"
            expand="block"
            size="small"
          >
            <ion-icon slot="start" name="people"></ion-icon>
            Invitar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
