ion-header {
  text-align: center;
  padding-top: 8px;
  box-shadow: none !important;
}

.event-list {
  #container {
    h3 {
      font-weight: bold;
    }
  }
}

.list-events-p {
  .name-event {
    margin-top: 5%;
    font-size: 15px;
    font-weight: bold;
  }

  .date-event {
    font-size: 12px;
    color: rgb(173, 173, 173);
  }
}

.avatar-stack {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10%;
}

.avatar-stack .avatar {
  width: 50px;
  height: 50px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-left: -15px; /* Este valor define cuánto se superponen */
  transition: z-index 0.3s;
}

.avatar-stack .avatar:first-child {
  margin-left: 0; /* El primero no se superpone hacia la izquierda */
}

.avatar-stack .avatar:hover {
  z-index: 10; /* Para que al pasar el mouse se vea encima de los demás */
}

ion-button {
  --background-color: #339de7;
}
