<ion-header [translucent]="true">
  <ion-toolbar style="--box-shadow: none" class="mi-toolbar-personalizado">
    <ion-title>QR-Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid style="margin-top: 5%">
    <ion-row>
      <ion-col size="12" style="text-align: center">
        <h4 class="welcome">Bienvenido</h4>
      </ion-col>

      <ion-col size="12" style="margin-top: 10%">
        <ion-input
          [(ngModel)]="user.userName"
          label="Correo electronico"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          style="--border-end-end-raius: 4px"
        ></ion-input>
      </ion-col>

      <ion-col size="12" style="margin-top: 10%">
        <ion-input
          [(ngModel)]="user.password"
          label="Contraseña"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          type="password"
        ></ion-input>
      </ion-col>

      <ion-label style="margin-left: 8px">Olvidaste la contraseña</ion-label>

      <ion-col size="12" style="padding: 10px; margin-top: 10%">
        <ion-button expand="block" (click)="goLogin()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
