<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="hcs">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goBack()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="back-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
              />
            </svg>
          </ion-button>
        </ion-buttons>

        <span style="text-align: center">Check-in</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <h4>Presencia a lo largo del tiempo</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Asistentes a las 11pm</ion-card-subtitle>
            <ion-card-title
              ><p style="margin: auto; padding: auto">
                <strong>20</strong>
              </p>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <canvas #myChart></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Asistentes a las 12pm</ion-card-subtitle>
            <ion-card-title
              ><p style="margin: auto; padding: auto">
                <strong>30</strong>
              </p>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Asistentes a las 1:00pm</ion-card-subtitle>
            <ion-card-title
              ><p style="margin: auto; padding: auto">
                <strong>40</strong>
              </p>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Asistentes a las 2:00pm</ion-card-subtitle>
            <ion-card-title
              ><p style="margin: auto; padding: auto">
                <strong>50</strong>
              </p>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Asistentes a las 3:00pm</ion-card-subtitle>
            <ion-card-title
              ><p style="margin: auto; padding: auto">
                <strong>60</strong>
              </p>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
