<div class="" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" (click)="goBack()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="back-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
      </ion-buttons>
      <ion-title> QR-Agenda </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding event-list">
    <ion-row>
      <ion-col>
        <h3 style="text-align: center"><strong>Mis Eventos</strong></h3>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 20px">
      <ion-col>
        <ion-input
          label="Titulo del evento"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 20px">
      <ion-col>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 18px">
      <ion-col size="2">
        <ion-button color="light">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="padding: 5px">
        <ion-row>
          <ion-col>
            <strong>Ponencias</strong><br />
            <p
              style="margin: auto; padding: auto; font-size: 14px; color: gray"
            >
              Tema:
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15px">
      <ion-col>
        <ion-textarea
          class="custom-textarea"
          label="Tema de la ponencia"
          labelPlacement="floating"
          fill="outline"
          placeholder="Enter text"
        ></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15px">
      <ion-col size="8" style="text-align: center">
        <ion-button class="no-uppercase" color="light">
          Añadir ponente
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center">
        <ion-button class="no-uppercase"> Crear </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</div>
